{% extends 'base.html' %}
<head>    
  {% block title %}
    <title>Создать пост в {{ title }}</title>
  {% endblock %}
</head>
<body>
  {% block content %}
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <h1>Создать пост в {{title}}</h1>
        <b>Текст</b>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background-color: crimson;">Создать</button>
        </form>
        <br /><a href="/"><button class="py-2 px-4 rounded" style="background-color: crimson;">На главную</button></a>
      </div>
    </main>
  {% endblock %}
</body>